/* import a css file containing variables, but with no pseudo classes */
@import url('/home/pratham/.cache/wal/colors-waybar.css');



/* COLORS
@define-color foreground #d1dac9;
@define-color background #000000;
@define-color cursor #d1dac9;

@define-color color0 #000000;
@define-color color1 #C1B238;
@define-color color2 #FCF405;
@define-color color3 #E6DB20;
@define-color color4 #0A65AA;
@define-color color5 #1F6BB3;
@define-color color6 #559B9E;
@define-color color7 #d1dac9;
@define-color color8 #92988c;
@define-color color9 #C1B238;
@define-color color10 #FCF405;
@define-color color11 #E6DB20;
@define-color color12 #0A65AA;
@define-color color13 #1F6BB3;
@define-color color14 #559B9E;
@define-color color15 #d1dac9;
*/


* {
    font-family: "Noto Sans";
    font-size: 14px;
}

#window {
	background-color: @color0;
	color: @color2;
	border: 1px @color5;
	border-radius: 0px;
}

#outer-box {
	padding: 20px;
}

#input {
	background-color: --wofi-color1;
	border: 0px solid @color4;
	padding: 8px 12px;
}

#scroll {
	margin-top: 20px;
	margin-bottom: 20px;
}

#inner-box {
}

#img {
	padding-right: 8px;
}

#text {
	color: @color2;
}

#text:selected {
	color: @color0;
}

#entry {
	padding: 6px;
}

#entry:selected {
	background-color: @color3;
	color: @color1;
}

#unselected {
}

#selected {
}

#input, #entry:selected {
	border-radius: 4px;
}
